select {
    display: inline-block;
    width: 90px;
    background-color: #0273de !important;
    color:white !important;
}

.testing {
    background-color :  #00ab80;
    color:white !important;
    font-weight: bold;
    font-size : 13px;
}