<div fxLayout="column" fxLayoutGap="10px" class="h-100" >  
    
    <div fxFlex class="xg-card">    
        <div fxFlex="30px"  class="xg-card-header text-white">
            "{{group['GRP_NM']}}" 그룹 스케쥴
        </div>    
        <div fxFlex class="xg-card-body overflow-auto" fxLayoutAlign="center top">
          <table class="table xg-table table-striped">
          <thead>
              <tr>                
              <th class='text-center'>시간</th>
              <th class='text-center'>제어구분</th>
              <th class='text-center'>요일반복</th>
              <th class='text-center'>공휴일</th>
              <th class='text-center'>삭제</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngIf="schedules.length <= 0" class="alert">
                  <td class='text-center' colspan="5">그룹에 등록된 스케줄이 없습니다. </td>
              </tr>
              <tr *ngFor='let item of schedules; let idx=index;'>
                  <td class='text-center'>{{ (item.CTL_TIME + '').padStart(4, '0') | amParse:'HHmm' | amDateFormat: 'HH:mm' }}</td>
                  <td class='text-center'>{{ (item.CTL_CMD  == 1) ? 'ON' : 'OFF' }} </td>
                  <td class='text-center' [innerHtml]=" getStringWeekBit(item.WEEK_BIT)"></td>
                  <td class='text-center'>{{(item.HOLI_YN == 1) ? '적용' : '미적용'}}</td>
                  <td class='text-center'><button style="width:70px;" class="btn-sm btn-primary text-white" (click)="goDeleteSchedule(item.SCHD_SQ) ">삭제</button></td>
              </tr>              
          </tbody>
          </table>                
        </div>
        <div fxFlex="40px" id="buttonBar" class="m-2">
            <button class="pull-left btn btn-primary text-white" (click)="goBack()">뒤로</button>                
            <button class="ml-2 pull-right btn btn-primary text-white" (click)="goAddSchedule(group['GRP_SQ'])">스케쥴추가</button>            
        </div>
    </div>
</div>         
          