<div fxLayout="column" fxLayoutGap="20px" class="xg-page">  
    <div fxFlex="100" fxLayout="column" fxLayoutGap="20px" class="board-test">
        <div class="xg-card h-100">

            <div class="xg-card-header">
                <b>Gateway Table UI</b> &nbsp;&nbsp;&nbsp; <small>Version : 2.0 </small>
              <fa class="float-right pr-2" name="ellipsis-v"></fa>
            </div>
            <div class="xg-card-body" style="padding: 3px 20px;">                
                  - 2020.01.10 : Add Month Report ( History -> Month Report )<br/>
                  - 2020.02.13 : Add GW Network Set ( History -> Network Setting )<br/>
                  - 2020.02.27 : Add Network And Wifi Setting ( History -> Network Setting )<br/>
                  - 2020.04.03 : Debug Time Foramt Error in Schedule List ( setting -> group -> Schedule )<br/>
                  - 2020.04.19 : Window.location.Reload() / Dispaly Plug Version <br/>
            </div>          
        </div>
      </div>
</div>